{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
    Questionnaire 5/7
{% endblock %}

{% block content %}
<strong>These questions refer to the experiment.</strong>

{% formfield player.algorithm_insights%}
{% formfield player.algorithm_insights1%}
{% formfield player.algorithm_insights5%}
{% formfield player.algorithm_insights6%}
{% formfield player.algorithm_insights7%}
{% formfield player.algorithm_insights8%}

    {% next_button %}

{% endblock %}